* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/background.png");
	background-attachment: fixed;
	background-color: #b56938;
	color: #222b48;
	background-repeat: repeat-x;
	margin: 0em 0em 0em 0em;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

header {
	background-color: #c52818;
	color: #e9e1d1;
	padding: 1em 1em 0em 1em;
	font-family: Georgia, "Times New Roman", Garamond, serif;
	text-align: center;
	border-bottom: 4px solid #ac271a;
	font-size: 1.3em;
}
	header a:link {
		text-decoration: none;
		color: #e9e1d1;
	}
	
	header a:visited {
		text-decoration: none;
		color: #e9e1d1;
	}
	
	header a:hover {
		text-decoration: none;
		color: #e9e1d1;
	}
	
nav {
	text-align: left;
	font-family: Georgia, "Times New Roman", Garamond, serif;
	border-bottom: 4px solid #ac271a;
}

	nav ul {
		display: flex;
		flex-direction: column;
		background-color: #c52818;
		font-weight: bold;
		margin: 0em 0em 0em 0em;
		padding: 0em 0em 0em 0em;
		font-size: 1.4em;
		list-style-type: none;
		
	}
	
	nav li {
		padding-top: .2em;
		padding-bottom: .2em;
		padding-left: 15%;
		width: 100%;
		color: #222b48;
	}
	
	nav a {
		text-decoration: none;
		color: #e9e1d1;
	}
	
	nav li:link {
		
	}
	
	nav li:visited {
		
	}
	
	nav li:hover {
		border-left: .6em solid #e9e1d1;
	}
	
p {
	padding: .25em 1em .25em 1em;
	color: #222b48;
	font-size: 1.2em;
	}
	
	p a:link {
		text-decoration: none;
		color: #b56938;
	}
	
	p a:visited {
		text-decoration: none;
		color: #b56938;
	}
	
	p a:hover {
		color: #b56938;
		text-decoration: underline;
	}

h2 {
		font-size: 1.6em;
		font-family: Georgia, "Times New Roman", Garamond, serif;
		padding: 1em 1em 0em 1em;
	}
	
h3 {
	font-size: 1.6em;
	font-family: Georgia, "Times New Roman", Garamond, serif;
	padding: 0em 1em 0em 1em;
}

h4 {
	font-size: 1.2em;
	padding: 0em 1em 0em 1em;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	font-size: .8em;
}

th {
	text-align: center;
	padding: 0em .25em .5em .25em;
	background-color: #c52818;
	color: #e9e1d1;
	border-bottom: 4px solid #ac271a;
}

td {
	font-weight: bold;
	padding: .5em 0em .5em 0em;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: .1em;
	z-index: -1;
}

form {
	padding: 1em 1em 1em 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

label {
	font-size: 1.6em;
	font-family: Georgia, "Times New Roman", Garamond, serif;
	padding: 0em 1em 0.5em 1.5em;
}

textarea {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding: 0em 0.5em 0em 0.5em;
	background-color:#b6b2a9;
	border: none;
	color: #222b48;
	font-size: 1.2em;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

input[type=number] {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .7em;
	padding: .7em .7em .7em .7em;
	background-color:#b6b2a9;
	border: none;
	color: #222b48;
	font-size: 1.2em;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

input[type=submit] {
	position: relative;
	background-color: #c52818;
	color: #e9e1d1;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: none;
	font-family: Georgia, "Times New Roman", Garamond, serif;
	font-size: 1.4em;
	font-weight: bold;
	
}

	input[type=submit]:hover {
		text-decoration: underline;
		left: -4px;
		top: -4px;
		box-shadow: 4px 4px #ac271a;
		}

	input[type=submit]:active {
		left: 0px;
		top: 0px;
		text-decoration: underline;
		box-shadow: none;
		}

footer {
	text-align: center;
	background-color: #c52818;
	padding: 1em 1em 1em 1em;
	color: #e9e1d1;
	font-size: .7em;
	font-style: italic;
}

	footer a {
		text-decoration: none;
		color: #e9e1d1;
	}
	
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tLeft {
	text-align: left;
	padding-right: .5em;
}

.tCenter {
	text-align: center;
	padding-left: 1em;
}

.tRight {
	text-align: right;
	padding-right: 1em;
}

.tDark {
	background-color: #b6b2a9;
}

.embed {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 56.25%;
}

.iframe {
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.cRatio {
	padding: 1em 0.5em 1em 1em;
	text-align: right;
	width: 40%;
	flex: auto;
}

	.cRatio label {
		padding-right: 0;
		font-size: 1.2em;
		font-family: Helvetica, Arial, Verdana, sans-serif;

	}

.wRatio {
	padding: 1em 1em 1em 0.5em;
	width: 40%;
	flex: auto;
	text-align: left;
}

	.wRatio label {
		padding-left: 0;
		font-size: 1.2em;
		font-family: Helvetica, Arial, Verdana, sans-serif;
	}

.cValue {
	padding: 1em 1em 1em 1em;
	width: 70%;
	flex: auto;
}

	.cValue label {
		font-size: 1.2em;
		font-family: Helvetica, Arial, Verdana, sans-serif;
	}

.wValue {
	padding: 1em 1em 1em 1em;
	width: 70%;
	flex: auto;
}

	.wValue label {
		font-size: 1.2em;
		font-family: Helvetica, Arial, Verdana, sans-serif;
	}

#wrapper {
	background-color: #e9e1d1;
}
	#wrapper form {
		overflow: hidden;
	}

	#wrapper input {
		width: 100%;
	}

#brewers  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

	#brewers p {
		padding-left: 1.3em;
	}

	#brewers img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#brewers div {
		padding: 0em 0em 0em 0em;
		margin: 0em 0em 0em 0em;
	}

@media (min-width: 600px) {
		
	h1 {
		font-size: 2.5em;
	}

	nav {
		position: -webkit-sticky; /*Safari sucks*/
		position: sticky;
		top: 0;
		z-index: 1;
	}
	
	nav ul {
		display: flex;
		flex-direction: row;
	}

	
	nav li {
		text-align: center;
		margin-bottom:auto;
		padding: .5em 1em .5em 1em;
	}
	
		nav li:hover {
			border-top: .25em solid #e9e1d1;
			border-left: none;
		}
		
	p {
		padding-left: 10%;
		padding-right: 10%;
	}

	table {
		font-size: 1em;
	}

	h2 {
		text-align: center;
	}
	
	h3 {
		padding-left: 15%;
		padding-right: 15%;
	}

	h4 {
		padding-left: 1em;
		padding-right: 10%;
	}

	form {
		min-width: 600px;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	label {
		padding-left: 15%;
		padding-right: 15%;
	}

	.embed {
		max-width: 560px;
		max-height: 315px;
	}

	#wrapper {
		min-width: 600px;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	
}

@media (min-width: 1024px) {

	h1 {
		font-size: 3em;
	}
	@supports (display: grid) {

		.media {
			grid-area: media;
			justify-content: center;
			align-content: center;
		}

		.embed {
			position: relative;
			top: 50%;
			max-width: 560px;
			max-height: 315px;
			-ms-transform: translateY(-50%); /*microsoft browsers suck*/
			transform: translateY(-50%);
		}

		.paragraph {
			grid-area: paragraph;
		}

		.form {
			grid-area: form;
			
		}

		.percolation {
			grid-area: percolation;
			text-align: right;
		}

		.percolationImg {
			grid-area: percolationImg;
			top: 10%;
		}

		.immersion {
			grid-area: immersion;
		}

		.immersionImg {
			grid-area: immersionImg
		}

		.coldBrew {
			grid-area: coldBrew;
			text-align: right;
		}

		.coldBrewImg {
			grid-area: coldBrewImg;
		}

		.moka {
			grid-area: moka;
		}

		.mokaImg {
			grid-area: mokaImg;
		}

		.espresso {
			grid-area: espresso;
			text-align: right;
		}

		.espressoImg {
			grid-area: espressoImg;
		}

		#contactGrid {
			padding: 1em 1em 1em 1em;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-auto-rows: minmax(0, 472px);
			grid-template-areas: 
				"media paragraph"
				"media form"
		}

		#brewers {
			padding: 1em 1em 1em 1em;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas: 
				"percolation percolation percolationImg"
				"immersionImg immersion immersion"
				"coldBrew coldBrew coldBrewImg"
				"mokaImg moka moka"
				"espresso espresso espressoImg"
		}
	}

	.cValue {
			width: 40%;
			padding-right: 0.5em;
			text-align: right;
		}

		.wValue {
			width: 40%;
			padding-left: 0.5em;
		}
}